/* ********************************************** */
/* *RESPONSIVIDADE TELAS MENORES: */
/* ********************************************** */

/* ********************************************** */
/* * OK RESPONSIVO PARA CELULARES NA HORIZONTAL (916px Landscape) */
/* ********************************************** */
@media (min-width: 3088px) and (min-height: 1440px) and (orientation: landscape) {
    /* Estilos específicos para o Galaxy Note 20 Ultra em landscape */
    body {
        background-color: red;
    }
}

/* Landscape Galaxy S20 Ultra = 915 x 412 */
/* max-width 916px max-height 468px */
@media (max-width: 916px) and (orientation: landscape) {
    .section-player {
        flex: 1;
        padding: 15px;
    }

    .fade-top,
    .fade-bottom {
        height: 12px; /*? Altura do efeito esfumaçado */
    }

    /*? Verificado com dúvidas */
    .btn-players {
        gap: 8px;
        border-radius: 3px;
    }

    /*? Verificado com dúvidas */
    .btn-players button {
        min-width: 70px;
        height: 20px;
        min-height: 10px;
    }

    .btn-players button:hover {
        transform: scale(1.03);
    }

    .container-player {
        gap: 0px;
        height: 100%;
    }

    .playBtn, .pauseBtn {
        font-size: 12px;
        padding: 4px;
    }

    .playBtn .bi-play-fill, .pauseBtn .bi-pause-fill {
        font-size: 12px;
        padding: 0px;
    }

    #music-title,
    #music-artist {
        font-size: 12px;
        letter-spacing: 1.5px;
    }

    .audio-bar {
        height: 5px;
        width: 100%;
        margin: 5px auto;
        border-radius: 4px;
    }

    .audio-progress {
        height: 4px;
    }

    .container-letter {
        /*? Altura menos esfumaçado da borda: */
        height: calc(65vh - 24px);
        min-height: 40vh;
        width: 90vw;
        padding: 4px;
        margin-top: 6px;
        margin-bottom: 0px;
        background-size: 100% 14px;
        /*? Máscara para esmaecer as bordas */
        -webkit-mask-image: linear-gradient(
            to bottom,
            transparent 5%,
            rgba(0, 0, 0, 0) 6%,
            rgba(0, 0, 0, 0) 93%,
            transparent 94%
        );
        mask-image: linear-gradient(
            to bottom,
            transparent 0%,
            rgba(0, 0, 0, 1) 5%,
            rgba(0, 0, 0, 1) 95%,
            transparent 99%
        );
    }

    .faixa {
        border-radius: 4px;
        margin: 8px;
        padding: 5px;
        padding-bottom: 15px;
        height: 65px;
        min-height: 65px;
        transform: translateY(3px);
        gap: 4px;
    }

    .container-letter .faixa .line-ingles p {
        font-size: clamp(16px, 2.4vw, 20px);
        padding-top: 4px;
    }

    .container-letter .faixa .line-portugues p {
        font-size: clamp(14px, 1.9vw, 18px);
    }

    /*? Quando apenas uma linha estiver visível: */
    .hide-pt .line-ingles {
        padding-top: 10px;
    }

    .hide-en .line-portugues {
        padding-top: 10px;
    }

    /*? Container da Lista de Músicas: */
    .list-letter {
        width: 85%;
        max-height: 40vh;
        min-height: 35vh;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 5px;
    }

    /*? FOOTER */
    .footer {
        padding-top: 8px;
        padding-bottom: 6px;
        font-size: 8px;
    }

    .footer p {
        letter-spacing: 1.5px;
    }
}

/* ********************************************** */
/* *ESTILOS PARA TELAS MAIORES (ACIMA DE 915px) */
/* ********************************************** */
@media (min-width: 916px) {
    .faixa {
        min-height: 100px;
    }

    .hide-pt .line-ingles,
    .hide-en .line-portugues {
        font-size: 18px;
    }

    .container-letter .faixa .line-ingles p {
        font-size: clamp(16px, 2.3vw, 20px);
        padding-top: 5px;
    }

    .container-letter .faixa .line-portugues p {
        font-size: clamp(14px, 1.8vw, 18px);
    }
}

/* ********************************************** */
/* *RESPONSIVO PARA TABLETS: 1024px (638px) */
/* ********************************************** */
@media (max-width: 638px) {
    .fade-top,
    .fade-bottom {
        /*? Altura do efeito esfumaçado */
        height: 15px;
    }

    .back-button {
        top: 15px;
        right: 15px;
        padding: 4px 8px;
        border-radius: 4px;
        font-size: 11px;
    }

    .section-player {
        padding-top: 15px;
    }

    .container-player {
        max-width: 190px;
        min-width: 110px;
        /*? REVER ALTURA */
        height: 110px;
        border-radius: 4px;
        padding: 2px;
    }

    .image-container {
        margin-top: 4px;
        margin-bottom: 4px;
    }

    .image-container p {
        font-size: 16px;
    }

    .btn-players {
        gap: 8px;
        border-radius: 4px;
    }

    .btn-players button {
        min-width: 70px;
        min-height: 30px;
    }

    /*? Classes dos ícones play e pause: */
    .playBtn, .pauseBtn {
        font-size: 11px;
        gap: 6px;
        padding: 4px 8px;
        border-radius: 4px;
    }

    .playBtn .bi-play-fill, .pauseBtn .bi-pause-fill {
        font-size: 18px;
        /*? Tamanho do ícone */
    }

    .audio-bar {
        height: 8px;
        border-radius: 3px;
        margin-top: 8px;
        width: 100%;
    }

    /*? Barra de Progresso do Áudio */
    .audio-progress {
        height: 7px;
    }

    .container-letter {
        height: 72vh;
        width: 90vw;
        border-radius: 4px;
        padding: 6px;
        margin: 18px;
    }

    .faixa {
        border-radius: 6px;
        margin: 12px;
        padding: 8px;
        transform: translateY(4px);
        gap: 5px;
    }

    .container-letter .faixa .line-ingles p {
        font-size: 20px;
        letter-spacing: 1.1px;
        padding-top: 5px;
    }

    .container-letter .faixa .line-portugues p {
        font-size: 18px;
        letter-spacing: 0.6px;
    }

    .footer {
        gap: 8px;
        padding: 8px;
        font-size: 10px;
        padding-top: 20px;
        padding-bottom: 14px;
    }
}

/* ********************************************** */
/* *RESPONSIVO PARA CELULARES (526px) */
/* ********************************************** */
@media (max-width: 526px) {
    .container-letter .faixa .line-ingles p {
        font-size: 19px;
        letter-spacing: 1.1px;
        padding-top: 5px;
    }

    .container-letter .faixa .line-portugues p {
        font-size: 17px;
        letter-spacing: 0.6px;
    }
}

/* ********************************************** */
/* *RESPONSIVO PARA CELULARES (438px) */
/* ********************************************** */
@media (max-width: 438px) {
    .fade-top,
    .fade-bottom {
        /*? Altura do efeito esfumaçado */
        height: 12px;
    }

    .container-player {
        max-width: 180px;
        min-width: 100px;
        height: 105px;
    }

    .btn-players button {
        min-width: 60px;
    }

    /*? Classes dos ícones play e pause: */
    .playBtn, .pauseBtn {
        font-size: 10px;
    }

    .playBtn .bi-play-fill, .pauseBtn .bi-pause-fill {
        font-size: 16px;
        /*? Tamanho do ícone */
    }

    .container-letter {
        height: 70vh;
        width: 85vw;
        background-size: 100% 15px;
    }

    .faixa {
        gap: 2px;
    }

    .container-letter .faixa .line-ingles p {
        font-size: 16px;
        padding-top: 5px;
    }

    .container-letter .faixa .line-portugues p {
        font-size: 14px;
    }

    .footer {
        padding-top: 10px;
        padding-bottom: 12px;
    }
}

@media (max-height: 438px) and (orientation: landscape) {
    .list-letter {
        /* max-height: calc(438px - 50px); */

        max-height: 45vh;
        min-height: 35vh;

        /* background-size: 100% 15px; */
    }
}