/*  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* background-color: rgb(19, 18, 18); */
    background-color: black;
}
.section-player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 30px;
}
.container-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(180, 199, 207);
    width: 100%;
    max-width: 220px;
    min-width: 180px;
    height: auto;
    border-radius: 10px;
    padding: 20px;
}
.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 20px;
    margin-bottom: 20px;
    gap: 5px;
}
.image-container p {
    font-size: 18px;
    color: rgb(52, 145, 184);
}
.audio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.btn-players {
    display: flex;
    align-items: center;
    gap: 10px;
}
.btn-players button {
    min-width: 80px;
    min-height: 45px;
    cursor: pointer;
    align-items: center;
    background-color: whitesmoke;
    border: 2px solid rgb(77, 157, 192);
    border-radius: 5px;
    color: rgb(52, 145, 184);

    font-weight: bold;
    transition: transform 0.3s ease-in-out;
}
.btn-players button:hover {
    background-color: rgb(52, 145, 184);
    color: whitesmoke;
    transform: scale(1.05);
}
.btn-players button:active {
    transform: scale(0.95);
}

.audio-bar {
    width: 100%;
    height: 7px;
    border-radius: 4px;
    background: whitesmoke;
    position: relative;
    cursor: pointer;
    margin-top: 10px;
}
.audio-progress {
    height: 7px;
    width: 0%;
    background: rgb(77, 157, 192);
    position: absolute;
    border-radius: 4px;
}
/* Barra de Progresso do Audio */
.audio-progress {
    transition: width 0.5s ease-in-out;
}

/** Letras: */
/*! Poderia ser hidden e só aparecer quando play for ativado! */
.container-letter {
    display: none;
    /* visibility: hidden; */
    overflow: hidden;
    /* height: 100vh; */
    height: 400px;
    width: 700px;
    border-radius: 5px;
    padding: 20px;
    position: relative;
    /* transition: transform 0.5s ease-in-out; */
    border: 1px solid whitesmoke;
}
.container-letter::before,
.container-letter::after {
    content: "";
    display: block;
    height: 70px;
}
.faixa {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    margin: 15px;
    padding: 15px;
    /* Altura fixa para cada faixa */
    height: 80px; 
    min-height: 80px;

    opacity: 0; /* Inicialmente invisível */
    transform: translateY(100%); /* Começa fora da tela */

    /* transition: transform 0.5s ease-in-out; */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    /*! display: none; */
    visibility: hidden;
}
.faixa.active {
    opacity: 1; /* Torna visível */
    transform: translateY(0); /* Move para a posição correta */
    visibility: visible; /* Torna visível */
}
.faixa:hover {
    background-color: rgb(53, 52, 52);
}
.container-letter .faixa .line-ingles p {
    color: blueviolet;
    font-size: 22px;
    letter-spacing: 1px;
}
.container-letter .faixa .line-portugues p {
    color: chartreuse;
    font-size: 19px;
    letter-spacing: .5px;
}